<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
</ul>
<ul class="navbar-nav navbar-right">
<li class="nav-item dropdown dropdown-menu-start">
  <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle">Manage</a>
  <ul class="dropdown-menu custom-dropdown-menu">
<li><a href="#" class="dropdown-item">Save Data</a></li>
<li><a href="#" class="dropdown-item">Fetch Data</a></li>
  </ul>
</li>
</ul>
    </div>
  </div>
</nav>
